

h1 {
  font-size: 40px;
  font-family: Arial
}
h2 {
  font-size: 25px;
  font-family: Arial
}
h3 {
  font-family: Arial
}
p {
  font-size: 14px;
  font-family: Arial
}
nav {
    margin: 10px 0 20px;
}

    nav a {
        margin-right: 8px;
        text-decoration: none;
        color: #0747a6;
    }

        nav a:hover {
            text-decoration: underline;
        }

.course h2 {
    margin-top: 10px;
}

.course h3 {
    margin-top: 16px;
}


